@use "variables" as *;
@use "sass:color";

//========================================================================
// Buttons
//========================================================================

button {
  font-family: $font-stack;
  font-weight: 600;
  font-size: $space-sm;
  letter-spacing: 0.1rem;
  padding: $space-sm $space-lg;
  border: none;
  border-radius: $space-lg;
  cursor: pointer;
  transition: background-color 0.15s ease-out;

  &.ios-download {
    background-color: $green-500;
    color: white;
    box-shadow: 0 3px 0 color.adjust($green-500, $lightness: -9%),
      0 15px 30px hsla(210, 10%, 33%, 0.2);

    &:hover,
    &:focus-visible {
      background-color: color.adjust($green-500, $lightness: 8%);
    }
  }

  &.mac-download {
    background-color: $blue-100;
    color: white;
    box-shadow: 0 3px 0 color.adjust($blue-100, $lightness: -14%),
      0 15px 30px hsla(210, 10%, 33%, 0.2);

    &:hover,
    &:focus-visible {
      background-color: color.adjust($blue-100, $lightness: 8%);
    }
  }
}
