//========================================================================
// Variable Declaration
//========================================================================

// Colour //
$green-500: hsl(171, 66%, 44%);
$blue-100: hsl(233, 100%, 69%);
$grey-100: hsl(220, 16%, 96%);
$grey-700: hsl(210, 10%, 33%);
$grey-500: hsl(201, 11%, 66%);
$attribution-link-color: hsl(228, 45%, 44%);

// Typography //
$font-stack: "Bai Jamjuree", sans-serif;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
