//========================================================================
// Configuration
//========================================================================
@use "variables" as *;
@use "buttons";
@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Styling */
html {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1.125rem;

  /* Set Fluid Font-size*/
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  overflow-x: hidden;
}

body {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  @include mixins.flex-center(column);
  padding: 0 2rem;
}

h1 {
  font-size: 2.375rem;
  padding-bottom: 1.5rem;
  color: $grey-700;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;

  @include mixins.breakpoint($breakpoint-tablet) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: $grey-700;
  margin-bottom: 0.75rem;
}

p {
  color: $grey-500;
  line-height: 150%;
}

header {
  padding-top: 8.125rem;
  padding-bottom: 3rem;
  @include mixins.flex-center(column);
  position: relative;

  // Positions header bg image and ensures that it is
  // not hidden below white bg
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-image: url("../images/bg-header-mobile.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    // Add mask to bg image
    // Creates a soft fade-out effect on the bottom
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
}

@include mixins.breakpoint($breakpoint-tablet) {
  header p {
    max-width: 38rem;
  }
  header::before {
    background-image: url("../images/bg-header-desktop.png");
  }
}

.logo {
  padding-bottom: 4rem;
}

.download-buttons {
  @include mixins.flex-center(column);
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 10rem;

  button {
    width: 100%;
  }

  @include mixins.breakpoint($breakpoint-tablet) {
    flex-direction: row;
    margin-bottom: 10rem;
    width: auto;
    button {
      width: auto;
    }
  }
}

.snippets-section {
  margin-bottom: 5rem;

  @include mixins.breakpoint($breakpoint-tablet) {
    max-width: 40rem;
  }

  @include mixins.breakpoint($breakpoint-desktop) {
    margin-bottom: 9rem;
  }
}

.clipboard-access-section {
  margin-top: 3rem;
  margin-bottom: 1rem;

  p {
    margin-bottom: 5rem;
  }

  img {
    max-width: 100%;
    margin-bottom: 3rem;
  }

  @include mixins.breakpoint($breakpoint-desktop) {
    margin-top: 12rem;
    max-width: 40rem;
  }
}

.features-list {
  list-style: none;
  padding: 0;
  @include mixins.flex-center(column);
  gap: 3rem;
  text-align: center;
  margin: 5rem 0;

  img {
    height: 2.5rem;
    margin-bottom: 2rem;
  }

  li {
    padding: 2rem;
  }
}

@include mixins.breakpoint($breakpoint-tablet) {
  .features-list {
    @include mixins.flex-center(row);
    gap: 2rem;
  }

  .features-list__item {
    padding: 1rem 1rem 1rem 0;
    max-width: 22rem;
  }
}

@include mixins.breakpoint($breakpoint-desktop) {
  .features-list__item {
    max-width: 24rem;
  }

  .features-list__description--last {
    max-width: 20rem;
    margin-inline: auto;
  }
}

.partners-list {
  list-style: none;
  padding: 0;
  @include mixins.flex-center(column);
  gap: 4rem;
  margin: 5rem 0;

  img {
    width: 8rem;
  }

  li {
    padding: 2rem;
  }
}

@include mixins.breakpoint($breakpoint-tablet) {
  .partners-list {
    @include mixins.flex-center(row);
    gap: 6rem;
    flex-wrap: wrap;
  }
}

@include mixins.breakpoint($breakpoint-desktop) {
  .partners-list {
    margin-bottom: 7rem;
  }
}

.footer {
  background-color: $grey-100;
  padding: 3rem 2rem;
  margin-top: 10rem;

  .footer__logo {
    width: 5rem;
  }

  &__attribution {
    font-size: 0.688rem;
    text-align: center;
    color: $grey-700;
    margin-top: 2rem;
    .attribution__link {
      color: $attribution-link-color;
    }
  }

  .footer__nav-link {
    text-decoration: none;
    color: $grey-700;
    &:hover,
    &:focus-visible {
      color: $green-500;
    }
  }

  &__social {
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    text-align: center;
  }

  &__social-item {
    display: inline;
    padding: 1rem;
  }

  &__nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
    @include mixins.flex-center($direction: column);
    gap: 1.25rem;
    margin-top: 2.5rem;
  }
}

@include mixins.breakpoint($breakpoint-tablet) {
  .footer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas:
      "logo nav social"
      "attribution attribution attribution";
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 2rem;
    padding: 2rem 4rem;
    margin-top: 2rem;
  }

  .footer__logo {
    width: 3rem;
    grid-area: logo;
  }

  .footer__nav {
    grid-area: nav;
  }

  .footer__social {
    grid-area: social;
    padding-top: 0;
    display: flex;
    gap: 1.5rem;
  }

  .footer__social-item {
    padding: 0;
  }

  .footer__nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
  }

  .footer__nav-item {
    padding: 0;
  }

  .footer__nav-item .footer__nav-link {
    white-space: nowrap;
  }
  .footer__attribution {
    grid-area: attribution;
    margin-top: 0;
  }
}

@include mixins.breakpoint($breakpoint-desktop) {
  .footer {
    padding: 2rem 8rem;
    column-gap: 6rem;
  }

  .footer__social {
    justify-self: end;
  }

  .footer__nav-list {
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    column-gap: 4rem;
    row-gap: 1.5rem;
  }
}

.features-split {
  img {
    max-width: 100%;
  }

  .features-split__list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .features-split__item {
    padding: 2rem;
  }
}

@include mixins.breakpoint($breakpoint-desktop) {
  .features-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    column-gap: 3rem;
  }

  .features-split img {
    /* Align the image to the end of its column to respect the gap */
    justify-self: end;
    transform: translateX(-3rem);
  }

  .features-split .features-split__list {
    max-width: 24.875rem;
    text-align: left;
    padding-left: 0;
  }
}

.clipboard-platforms {
  margin-bottom: 4rem;

  @include mixins.breakpoint($breakpoint-desktop) {
    max-width: 40rem;
  }
}
